* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #f41f17;
}

/* CONTAINER */
.container {
    max-width: 1100px;
    margin: 60px auto;
    background: #fff;
    border-radius: 20px;
    padding: 30px 40px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}

/* NAVBAR */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 600;
}

nav a {
    margin-left: 25px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

/* HERO */
.hero {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.content {
    flex: 1;
}

.role {
    color: #7a7a7a;
    font-size: 12px;
    font-weight: bold;
}

.content h1 {
    font-size: 42px;
    margin: 15px 0;
}

.content h1 span {
    color: #333;
}

.content p {
    color: #666;
    max-width: 400px;
    margin-bottom: 25px;
}

/* BUTTONS */
.buttons {
    display: flex;
    gap: 15px;
}

.btn {
    padding: 10px 22px;
    border-radius: 8px;
    font-size: 14px;
    text-decoration: none;
}

.primary {
    background: #ea1313;
    color: #000;
}

.secondary {
    border: 1px solid #ccc;
    color: #333;
}

/* IMAGE */
.image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.image img {
    width: 280px;
    border-radius: 50%;
    background: #e21616;
    padding: 15px;
}

/* PROJECTS */
.projects {
    padding: 60px 10%;
    background: #fff;
}

.projects h2 {
    text-align: center;
    margin-bottom: 40px;
}

.project-card {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 12px;
    background: #ef0a06;
}

/* CONTACT */
.contact {
    padding: 50px;
    text-align: center;
    background: #fff;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #f60a0a;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .content p {
        margin: auto;
    }

    nav {
        display: none;
    }
}